*, html, body {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 40px 10px 40px;
    justify-content: space-between;
    width: 100%;
    height: 70px;
}

.firstname {
    font-family: 'SF-Pro-Bold';
    font-size: 1.5em;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;


}

.navigation>li {
    list-style-type: none;
    text-decoration: none;
    padding: 30px;
}

.navigation>li>a {
    color: #4A34A0;
    font-family: 'SF-Pro-Semibold';
    font-size: 14px;
    text-decoration: none;

}

.navigation>li>a:hover {
    color: #362579;
}

.active {
    color: #7e7e7e;
}
.regis-btn {
    color: #4A34A0;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
    font-family: 'SF-Pro-Semibold';
    font-size: 15px;
    padding: 10px 24px 10px 24px;
}

.regis-btn:hover {
    color: #362579;
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
    font-family: 'SF-Pro-Semibold';
    font-size: 15px;
    padding: 10px 24px 10px 24px;
}

.login-btn {
    color: #ffffff;
    background-color: #4A34A0;
    border-style: none;
    border-radius: 25px;
    font-family: 'SF-Pro-Semibold';
    font-size: 15px;
    padding: 10px 24px 10px 24px;
}

.login-btn:hover {
    color: #ffffff;
    background-color: #362579;
    border-style: none;
    border-radius: 25px;
    font-family: 'SF-Pro-Semibold';
    font-size: 15px;
    padding: 10px 24px 10px 24px;
}

.wrap-btn {
    display: flex;
    order: 2;
    gap: 12px;
}



/* UTAMA */     


.utama {
    padding: 10px 100px 0px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 24px rgba(74, 52, 160, 0.21);
}



.judul-txt {
    align-items: center;
    justify-content: center;
    font-family: 'SF-Pro-Bold';
    font-size: 4.8em;
    letter-spacing: -0.05em;
    padding-bottom: 25px;
}

.niha {
    width: 800px;
    height: 903px;
}
.icon-chat {
    src: url(img/Chat\ Room.svg);
    display: contents;
}
.konsul-btn {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    background-color: #4A34A0;
    border-style: none;
    border-radius: 25px;
    font-family: 'SF-Pro-Regu';
    font-size: 15px;
    padding: 12px 24px 12px 24px;

}

.konsul-btn svg {
    margin-right: 10px;
}

.wraputama-btn {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content:left;
}


.wraputama2-btn {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content:center;
    padding-bottom: 20px;
}


.promo {
    text-align: center;
    justify-content: center;
    font-family: 'SF-Pro-Regu';
    font-size: 15px;
    letter-spacing: -0.05em;
    color: #4A34A0;

}

.judul-port {
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.h1-port {
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-family: 'SF-Pro-Semibold';
}

.p1{
    text-align: center;
    justify-content: center;
    font-family: 'SF-Pro-Regu';
    line-height: 170%;
}

.card-wrap {
    align-items: center;
    justify-content: center;
}


.card-wrap2 {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 60px;
    padding: 40px;

}

/* Card Design Graphic start */
.card-dg {
    background-color: white;
    padding: 30px 35px 30px 35px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0px 0px 20px rgba(74, 52, 160, 0.12);
}

.text-dg {
    display: flex;
    flex-direction: column;
    width: 342px;
    gap: 30px;
}

.text-dg h1 {
    font-family: 'SF-Pro-Regu';
    letter-spacing: -0.05em;
    font-size: 18pt;
}

.text-dg p {
    font-family: 'SF-Pro-Regu';
    font-size: 12pt;
    line-height: 170%;
}

.card-dg button {
    background-color: white;
    justify-content: center;
    text-align: center;
    color: #7e7e7e;
    font-family: 'SF-Pro-Med';
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    border-color: #7e7e7e;
    border-width: 1px;
}

.button-wrap-dg {
    justify-content: right;
    text-align: right;
}

/* Card Design Graphic end */


/* Card Fotografi start */
.card-fg {
    background-color: white;
    padding: 30px 35px 30px 35px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0px 0px 20px rgba(74, 52, 160, 0.12);
}

.text-fg {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 342px;
}

.text-fg h1 {
    font-family: 'SF-Pro-Regu';
    letter-spacing: -0.05em;
    font-size: 18pt;
}

.text-fg p {
    font-family: 'SF-Pro-Regu';
    font-size: 12pt;
    line-height: 170%;
}

.card-fg button {
    background-color: white;
    justify-content: center;
    text-align: center;
    color: #7e7e7e;
    font-family: 'SF-Pro-Med';
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    border-color: #7e7e7e;
    border-width: 1px;
}

.button-wrap-fg {
    justify-content: right;
    text-align: right;
}

/* Card Fotografi end */


/* Card Videografi start */
.card-vg {
    background-color: white;
    padding: 30px 35px 30px 35px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0px 0px 20px rgba(74, 52, 160, 0.12);
}

.text-vg {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 342px;
}

.text-vg h1 {
    font-family: 'SF-Pro-Regu';
    letter-spacing: -0.05em;
    font-size: 18pt;
}

.text-vg p {
    font-family: 'SF-Pro-Regu';
    font-size: 12pt;
    line-height: 170%;
}

.card-vg button {
    background-color: white;
    justify-content: center;
    text-align: center;
    color: #7e7e7e;
    font-family: 'SF-Pro-Med';
    padding: 10px 40px 10px 40px;
    border-radius: 25px;
    border-color: #7e7e7e;
    border-width: 1px;
}

.button-wrap-vg {
    justify-content: right;
    text-align: right;
}

/* Card Videografi end */






@font-face {
    font-family: 'SF-Pro-Semibold';
    src: url(src/SF-Pro-Text-Semibold.otf);

}

@font-face {
    font-family: 'SF-Pro-Bold';
    src: url(src/SF-Pro-Text-Bold.otf);
}   

@font-face {
    font-family: 'SF-Pro-Regu';
    src: url(src/SF-Pro-Text-Regular.otf);
}   

@font-face {
    font-family: 'SF-Pro-Med';
    src: url(src/SF-Pro-Text-Medium.otf);
}   